body {
	background-color: #222226!important;
	color: #fff !important;
}
.col, .col-1, .col-10, .col-11, .col-12, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-auto, .col-lg, .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-auto, .col-md, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-auto, .col-sm, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-auto, .col-xl, .col-xl-1, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, 
.col-xl-auto {
background-color: #2b2b2b !important;
color: #fff !important;}
section h1 {
    font-family: 'Roboto Condensed', sans-serif;
    color: #fff !important;
    background-color: #2b2b2b !important;
}
.course-info {
    background-color: #2b2b2b !important;
    color: #fff !important;
}
a { 
color: #fff !important;
}
.card-title {
    color: #fff !important;}

.table {
    color: #fff !important;
}
.card {
    box-shadow: 0 0 20px #222226 !important;
    background-color: #222226 !important;
    margin: 0 0 20px 0;
}
.breadcrumb {
    font-size: 0.7em;
    background-color: #222226 !important;
    padding-top: 15px 0;
}
.course-name {
    padding: 15px 10px 10px 10px;
    background-color: #2b2b2b !important;
    border-left: 5px solid #111 !important;
    color: #fff !important;
    margin: 0 0 15px 0;
    text-align: left;
}
.breadcrumb-item.active {
    color: #fff !important;
}